<%  for(let i = 0; i<data.length; i++){%> 

<tr>
    <td><%= data[i].traveller%></td>
    <td><%= data[i].origin%></td>
    <td><%= data[i].destination%></td>
    <td><%= data[i].contact%></td>
    <td><%= data[i].price%></td>
    <!-- <td>
        <a href="/update_del?id=<%= data[i]._id%>"><img src="./images/pencil.png" alt=""></a>
        <a href=""><img src="./images/remove.png" alt=""></a>
    </td> -->
</tr>

<% } %> 