<%  for(let i = 0; i<data.length; i++){%> 

<tr>
    <td><%= data[i].sender%></td>
    <td><%= data[i].receiver%></td>
    <td><%= data[i].origin%></td>
    <td><%= data[i].destination%></td>
    <td><%= data[i].contact%></td>
    <td><%= data[i].price%></td>
    <td class="act" style="border: none;">
        <a href="/update_del?id=<%= data[i]._id%>"><img src="./images/edit.png" alt=""></a>
    </td >>
    <td class="act"><a class="delete-btn-req" data-id="<%= data[i]._id%>"><img src="./images/remove.png" alt="" style="cursor: pointer;"></a></td>
</tr>

<% } %> 