<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %> 
  <%- include('./partials/hero.ejs') %> 
  <section class="driver" >
    <h2>Drivers</h2>
    <table>
      <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Contact</th>
        <th>Car</th>
        <th>Available</th>
      </thead>
      <tbody>
        <%- include('./partials/show_drive.ejs') %> 
      </tbody>
    </table>
  </section>

  <%- include('./partials/footer.ejs') %> 
  <script src="../main.js"></script>
</body>
</html>