<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/hero.ejs') %>
    <section class="order">
    <div class="form">
      <legend>Update Escort</legend>
      <p>Please use the form to update the escort</p>

      <form method="POST">
        <div class="input">
          <label for="id">Database ID</label>
          <input id="id"  type="text" value="<%= escort._id%>" readonly required style="background-color: rgb(117, 117, 36);">
        </div>

        <div class="input">
          <label for="traveller">Traveller</label>
          <input id="traveller" type="text" value="<%= escort.traveller%>" placeholder="Supplier name" required>
        </div>

        <div class="input">
          <label for="origin">Origin</label>
          <input id="origin" type="text" value="<%= escort.origin%>" placeholder="Pick-up location">
        </div>

        <div class="input">
          <label for="destination">Destination</label>
          <input id="destination" type="text" value="<%= escort.destination%>" placeholder="Drop-off location">
        </div>

        <div class="input">
          <label for="contact">Contact</label>
          <input id="contact"  type="text" value="<%= escort.contact%>" placeholder="Mobile No.">
        </div>

        <div class="input">
          <label for="driver">Driver</label>
          <input id="driver"  type="text" value="<%= escort.driver%>" placeholder="Driver name">
        </div>

        <div class="input">
          <label for="price">Price</label>
          <input id="price" type="text" value="<%= escort.price%>" placeholder="5, 6 or 7">
        </div>
         <button id="update-btn-esc" type="submit">Update</button>
      </form>
     
    </div>
    </section>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>